.vs
Common/bin
Common/obj/Debug
Server/bin
Server/obj/Debug
Server/obj/Server.csproj.nuget.cache
Server/obj/Server.csproj.nuget.g.props
Server/obj/Server.csproj.nuget.g.targets
Common/obj/Common.csproj.nuget.cache
Common/obj/Common.csproj.nuget.g.props
Common/obj/Common.csproj.nuget.g.targets
